<form class="comment-form">
  <section class="field">
    <section class="control">
      <textarea
        name="response"
        id="comment-message"
        class="textarea has-fixed-size"
        placeholder="Type your response..."
        data-user={{ user }}
        data-post={{ post }}
      ></textarea>
    </section>
  </section>  
  <section class="buttons is-centered">
    <button id="form-btn" type="submit" class="button is-primary">
      <strong>Reply</strong>
    </button>
  </section>
</form>
