<section class="card">
  <header class="card-header">
    <p class="card-header-title title is-4">
      By {{ user.username }}
    </p>
  </header>
  <section class="card-content">
    <p class="content">
      {{ message }}
    </p>
  </section>
  <footer class="card-footer">
    <p></p>
  </footer>
</section>
