<section class="card">
  <header class="card-header">
    <p class="card-header-title title is-4" 
      {{ comment.title }}
    </p>
  </header>
  <section class="card-content">
    <pre class="content is-clipped">
      {{ comment.message }}
    </pre>
  </section>
</section>
