<section class="card">
  <header class="card-header">
    <p class="card-header-title title is-4">
      By {{ user.firstName }} {{ user.lastName }}
    </p>
  </header>
  <section class="card-content">
    <p class="content">
      {{ message }}
    </p>
  </section>
</section>
