<section class="card">
  <header class="card-header">
    <a class="card-header-title title is-4" 
        href="/post/{{ id }}" 
        target="_blank">
      {{ title }}
    </a>
  </header>
  <section class="card-content">
    <p class="content ">
      {{ message }}
    </p>
  </section>
</section>
