<section class="card">
  <header class="card-header">
    <a class="card-header-title title is-4" 
        href="/post/{{ post.id }}" 
        target="_blank">
      {{ post.title }}
    </a>
  </header>
  <section class="card-content">
    <p class="content ">
      {{ post.message }}
    </p>
  </section>
  <footer class="card-footer">
    <a href="#" class="card-footer-item" id="reply">Reply</a>
  </footer>
</section>

{{#each comments as |comment|}}
  {{> comment-details}}
{{/each}}

<button class="button is-responsive">
  Default
</button>
