<section class="card my-3">
  <header class="card-header">
    <p class="card-header-title title is-4">
      {{ post.title }}
    </p>
  </header>
  <section class="card-content">
    <p class="content ">
      {{ post.message }}
    </p>
  </section>
  {{#if loggedIn}}
  <footer class="card-footer">
    <a class="card-footer-item js-modal-trigger" data-target="modal-js-reply" data-message="">Reply</a>
  </footer>
  {{/if}}
</section>

{{#each post.comments as |comment|}}
  {{> comment-details login=../loggedIn}}
{{/each}}

<article id="modal-js-reply" class="modal">
  <section class="modal-background"></section>
  <section class="modal-content">
    <section class="card">
      <section class="card-content">
        <section class="content">
          {{> comment-form user=userId post=post.id }}
        </section>
      </section>
    </section>
  </section>
</article>

<script src="/js/comment.js"></script>
<script src="/js/modal.js"></script>
