{{#each userPosts as |post|}}
  {{> post-details}}
{{/each}}
<button class="button is-info modal-button is-fullwidth js-modal-trigger" data-target="modal-js-post">
  <span class="icon">
    <i class="fa-solid fa-plus"></i>
  </span>
  <span>Create New Post</span>
</button>

<article id="modal-js-post" class="modal">
  <section class="modal-background"></section>
  <section class="modal-content">
    <section class="card">
      <section class="card-content">
        <section class="content">
          {{> post-form user=userId }}
        </section>
      </section>
    </section>
  </section>
</article>

<script src="/js/post.js"></script>
<script src="/js/modal.js"></script>
