{{#each userPosts as |post|}}
  {{> post-details}}
{{/each}}
<button class="button is-primary modal-button" data-target="#modal">Normal</button>

<div class="modal" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Post Details</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <form class="post-form"></form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save Changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>
